section.section.columns.is-centered.has-text-centered
	#content.column.is-half
		each poll in polls
			-var pollUrl = '/poll/' + poll['_id']
			.box.columns.is-vcentered
				.column
					a(href= pollUrl) #{poll.question}
				