section.section.columns
    #content.column.is-half.is-offset-one-quarter
        each poll in polls
            -var pollUrl = '/poll/' + poll['_id']
            .box.level
                .level-left
                    level-item
                        a(href= pollUrl) #{poll.question}
                if edit
                    .level-right
                        .level-item
                            button.button.is-danger.deletePoll(data-pollid= poll['_id']) Delete